<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="/css/estilo.css">
    <!-- Archivo de js-->
    <script src="/js/validaciones.js"></script>
    <!-- Titulo de pagina -->
    <title>Gestión de Vuelos</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="pagina1.html">
                    <img src="/img/vuelo.jpg" alt="Logo" class="img-fluid rounded" style="max-width: 100px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto fuentes">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Registrar Usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Consulta vuelos/Reserva</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ver Reserva</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Eliminar Reserva</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- HERO -->

    <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3"> Compañía Argentina</h1>
                <p class="col-lg-10 fs-4">Descubre el mundo con Compañía Argentina, donde cada viaje es una experiencia
                    inolvidable. Volamos para acercarte a tus sueños.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary form-fondo">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg colorBtn" type="submit"> Iniciar Sesión </button>
                    <hr class="my-4">
                    <small class="text-body-secondary">No comparta su contraseña</small>
                </form>
            </div>
        </div>
    </div>
    <section class="container my-5">
        <h2 class="text-center mb-4">Gestión de Vuelos</h2>
        <h3 class="text-center mb-4">Vuelos Disponibles</h3>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <form action="pagina2.html" method="post" class="row g-3 flex-grow-1">
                <fieldset class="border p-4">
                    <div class="d-flex justify-content-between align-items-start flex-wrap">

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="origen" class="form-label">Origen:</label>
                                <select name="origen" id="origen" class="form-select" required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="cordoba">Córdoba</option>
                                    <option value="mendoza">Mendoza</option>
                                    <option value="tucuman">Tucumán</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="destino" class="form-label">Destino:</label>
                                <select name="destino" id="destino" class="form-select" required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="cordoba">Córdoba</option>
                                    <option value="mendoza">Mendoza</option>
                                    <option value="tucuman">Tucumán</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fecha_vuelo" class="form-label">Fecha de vuelo:</label>
                                <input type="date" id="fecha_vuelo" name="fecha_vuelo" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-4">
                            <button type="button" class="btn btn-primary btn-lg">BUSCAR</button>
                            <button type="button" class="btn btn-secondary btn-lg">CANCELAR</button>
                        </div>
                </fieldset>
            </form>
        </div>
    </section>
    <!-- FOOTER -->
    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-column">
                    <h5>Contacto</h5>
                    <p>Teléfono: +54 11 1234-5678</p>
                    <p>compañiargentina@compania.com.ar</p>
                </div>
                <div class="col-md-4 footer-column">
                    <h5>Ubicación</h5>
                    <p>Buenos Aires, Argentina</p>
                    <p>Av. Siempre Viva 742</p>
                </div>
                <div class="col-md-4 footer-column">
                    <h5>Redes Sociales</h5>
                    <div class="social-icons">
                        <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                        <a href="https://www.facebook.com" target="_blank" class="bi bi-facebook"></a>
                        <a href="https://www.twitter.com" target="_blank" class="bi bi-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>